 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #53636C;
active-foreground: #C7CDD0;
normal-background: #222324;
normal-foreground: #C7CDD0;
urgent-background: #5E6F79;
urgent-foreground: #C7CDD0;

alternate-active-background: #48565E;
alternate-active-foreground: #C7CDD0;
alternate-normal-background: #222324;
alternate-normal-foreground: #C7CDD0;
alternate-urgent-background: #222324;
alternate-urgent-foreground: #C7CDD0;

selected-active-background: #5E6F79;
selected-active-foreground: #C7CDD0;
selected-normal-background: #5E6F79;
selected-normal-foreground: #C7CDD0;
selected-urgent-background: #53636C;
selected-urgent-foreground: #C7CDD0;

background-color: #222324;
background: rgba(0,0,0,0.7);
foreground: #C7CDD0;
border-color: #53636C;

color0: #48494A;
color1: #262E32;
color2: #2E373C;
color3: #364147;
color4: #3E4A51;
color5: #47535B;
color6: #47535B;
color7: #A6AFB4;
color8: #747A7E;
color9: #333D43;
color10: #3E4A51;
color11: #48565E;
color12: #53636C;
color13: #5E6F79;
color14: #5E6F79;
color15: #A6AFB4;


}

